.message-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: 16px;
  overflow-y: auto;
  background: var(--background-content);
  
  // 美化滚动条
  &::-webkit-scrollbar {
    width: 6px;
  }
  &::-webkit-scrollbar-thumb {
    background: var(--border-color-split);
    border-radius: 3px;
  }
  &::-webkit-scrollbar-track {
    background: var(--background-color-light);
  }
}
