@import '../../styles/variables.less';

.chat-page {
  height: 100%;
  display: flex;
  flex-direction: column;
  background: var(--background-content);
  justify-content: space-between;
  
  .chat-header {
    height: 64px;
    padding: 0 24px;
    display: flex;
    align-items: center;
    background: var(--background-content);
    border-bottom: 1px solid var(--border-color-split);
    justify-content: center;
    z-index: 1;
    .ant-select {
      .ant-select-selection-item {
        font-weight: 500;
        color: var(--text-color);
      }
    }
  }

  .chat-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: relative;
    justify-content: space-between;
    background: var(--background-content);
  }

  :global {
    .markdown-body {
      pre {
        background: var(--code-bg);
        border: 1px solid var(--border-color-split);
      }

      code {
        background: var(--code-bg);
        color: @text-color;
      }

      blockquote {
        color: @text-color-secondary;
        border-left-color: var(--border-color-base);
      }

      table {
        th, td {
          border-color: var(--border-color-split);
        }
        
        th {
          background: var(--table-header-bg);
        }

        tr:nth-child(2n) {
          background: var(--table-row-hover-bg);
        }
      }
    }


  }
}

