@import '../../styles/variables.less';

.chat-page {
  height: 100%;
  display: flex;
  flex-direction: column;
  background: var(--background-content);
  justify-content: space-between;
  
  .chat-header {
    height: 64px;
    padding: 0 24px;
    display: flex;
    align-items: center;
    background: var(--background-content);
    border-bottom: 1px solid var(--border-color-split);
    justify-content: center;
    z-index: 1;
    .ant-select {
      .ant-select-selection-item {
        font-weight: 500;
        color: var(--text-color);
      }
    }
  }

  .chat-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: relative;
    justify-content: space-between;
    background: var(--background-content);
  }
}

