.input-sender {
  padding: 16px;
  position: relative;
  background: var(--component-background);

  .abort-button {
    position: absolute;
    right: 24px;
    top: -36px;
    z-index: 1;
  }

  .ant-sender {
    background: transparent;
  }

  .sender-footer {
    margin-top: 8px;
  }
}
