.app-container {
  display: flex;
  height: 100vh;
  overflow: hidden;

  .app-tools {
    flex: none;
    display: flex;
    height: 100%;
  }

  .app-workspace {
    flex: 1;
    min-width: 0;
    height: 100%;
  }

  .app-chat {
    flex: none;
    width: 400px;
    height: 100%;
    border-left: 1px solid #e5e5e5;
  }
}
